@page 
@{

}
@model OnlineBooks.Pages.CartModel
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h2>Your Cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-left">Book Name</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Books.Title</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">@line.Books.Price</td>
                <td class="text-right">@((line.Quantity * line.Books.Price).ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us")))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right"> @Model.Cart.ComputeTotalSum().ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
</div>