@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Books>

<div class="text-center">
    <h1 class="display-4">Online Book Store</h1>
</div>

@foreach(var x in Model)
{
<div class="text-center">
    <h4>Title: @x.Title</h4>
    <p>Author: @x.FirstName</p>
    <p>Author: @x.LastName</p>
    <p>Publisher: @x.Publisher</p>
    <p>ISBN: @x.ISBN</p>
    <p>Category: @x.Category</p>
    <p>Category: @x.Genre</p>
    <p>Price: @x.Price</p>
</div>
}
